<VirtualHost *:80>
  UseCanonicalName Off
  ServerAlias *.local
  ServerAdmin webmaster@example.com
  VirtualDocumentRoot /var/www/BoxData/GenericLAMP/%1

  <FilesMatch "\.php$">
     Require all granted
     SetHandler proxy:fcgi://127.0.0.1:9000
  </FilesMatch>

  ErrorLog /var/log/apache2/error.log
  CustomLog /var/log/apache2/access.log combined
  ServerSignature Off
</VirtualHost>

<VirtualHost *:80>
  UseCanonicalName Off
  ServerAlias *
  ServerAdmin webmaster@example.com
  VirtualDocumentRoot /var/www/BoxData/GenericLAMP/%1/%2

  <FilesMatch "\.php$">
     Require all granted
     SetHandler proxy:fcgi://127.0.0.1:9000
  </FilesMatch>

  ErrorLog /var/log/apache2/error.log
  CustomLog /var/log/apache2/access.log combined
  ServerSignature Off
</VirtualHost>